.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
